.git
.env
.DS_Store
backend
docs
scripts
**/.venv
**/node_modules
**/dist
**/.next
**/*.tsbuildinfo
infra/docker/mysql

.github
tests
**/tests
**/coverage
**/htmlcov
**/playwright-report
**/test-results

**/.pytest_cache
